{% extends 'processos/layouts/processos_base.html' %}
{% load static %}
{% block processos_content %}
<div class="container page-container">
  <div class="page-header-custom"><h3 class="page-title">Novo Processo</h3></div>
  <form method="post" class="form-section">{% csrf_token %}
    <div class="row g-1 mb-3">
      <label class="form-label required-label">{{ form.proc_os.label }}</label>{{ form.proc_os }}
    </div>
    <div class="row g-1 mb-3">
      <label class="form-label required-label">{{ form.proc_mode.label }}</label>{{ form.proc_mode }}
    </div>
    <div class="row g-1 mb-3">
      <label class="form-label">{{ form.proc_desc.label }}</label>{{ form.proc_desc }}
    </div>
    <div class="form-actions mt-3"><button class="btn btn-primary">Criar Processo</button></div>
  </form>
</div>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const os = urlParams.get('os');
  if(os){
    const osInput = document.getElementById("os_input");
    osInput.value = os;
  }
  const modelo = urlParams.get('modelo');
  if(modelo){
    const modeloInput = document.getElementById("modelo_input");
    modeloInput.value = modelo;
  }
</script>
{% endblock %}
