<div class="modal fade" id="modal-grupo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Grupo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col-4">
                        <label class="form-label">Código</label>
                        <input type="text" class="form-control" id="modal-grupo-codigo" placeholder="(auto)">
                    </div>
                    <div class="col-8">
                        <label class="form-label">Descrição</label>
                        <input type="text" class="form-control" id="modal-grupo-descricao" placeholder="Ex: Ferragens">
                    </div>
                </div>
                <div class="text-danger small mt-2 d-none" id="modal-grupo-erro"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-primary" id="modal-grupo-salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>