<div class="modal fade" id="modal-marca" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Marca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col-12">
                        <label class="form-label">Nome</label>
                        <input type="text" class="form-control" id="modal-marca-nome" placeholder="Ex: Acme">
                    </div>
                </div>
                <div class="text-danger small mt-2 d-none" id="modal-marca-erro"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-primary" id="modal-marca-salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>